[project]
name = "Gas-Flux-Ap"
version = "0.1.0"
description = "Software for the data analysis of large gas network data for AQAM."
readme = "README.md"
requires-python = ">=3.14.3"
dependencies = [
    "numpy>=2.5.1",
    "openpyxl>=3.1.5",
    "pandas>=3.0.3",
    "plotly>=6.9.0",
    "streamlit>=1.59.2",
    "matplotlib>3.9.2",
    "scipy==1.14.1",
    "xlsxwriter==3.2.0",
    "reportlab==4.2.5",
    "kaleido"
]
